h1 {
  font-size: 50px;
}
#box1 {
  resize: none;
  min-height: 100px;
  max-height: none;
}
#box2 {
  resize: none;
  min-height: 100px;
  max-height: none;
}
#checkBtn {
  background-color: rgb(224, 229, 230);
}