h1{
  color:#0C2190;
  font-family:'Londrina Shadow', cursive;
  font-size: 100px;
  
  background: #F48F31;
  width: 800px;
  height: 130px;
  
  
}

h2 {
  font-size: 50px;
}
#box1 {
  resize: none;
  min-height: 100px;
  max-height: none;
}
#box2 {
  resize: none;
  min-height: 100px;
  max-height: none;
}
#checkBtn {
  background-color: rgb(224, 229, 230);
}